@import '../mixins';
@import '../variables';
.futures1{
    background-color: $lightbackcolor;
    padding-bottom: 202px;
    & .futures1-content{
        @include bound;
        @include defaultLayout(row, 0);
        & .futures1-text{
            @include defaultLayoutText(20px);
            & h5{
                @include h5;
            }
            & h2{
                width: 343px;
                @include h2('light');
            }
            & .text-big{
                width: 470px;
                @include textBig('light');
            }
            & .ye{
                margin-top: 20px;
            }
            & .text-gray-row{
                display: flex;
                align-items: center;
                gap: 15px;          
                & .text-gray{
                    @include textGray('light');
                }
            }
        }
    }
}
.futures2{
    padding-bottom: 252px;
    background-color: $lightbackcolor;
    .futures2-content{
        @include bound;
        @include defaultLayout(row, 0);
        .future-text2{
            @include defaultLayoutText(50px);
            h5{
                @include h5;
            }
            .text-big{
                @include textBig('light');
                width: 370px;
            }
            .rm{
                cursor: pointer;
                font-size: 16px;
            }
        }
        .boxes{
            display: flex;
            align-items: flex-end;
            .box{
                border: 2px solid #F3D1BF;
                h4{
                    @include h4;
                }
                .text-gray{
                    @include textGray('light');
                }
            }
            .box1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 30px;
                background-color: white;
                width: 336px;
                height: 336px;
                padding-left: 30px;
                .icon{
                    position: relative;
                    .inside-icon{
                        position: absolute;
                        top: 22px;
                        left: 25px;
                    }
                }
            }
            .box2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: none;
                gap: 30px;
                width: 336px;
                height: 272px;
                padding-left: 30px;
                background-color: $lightbackcolor;
                h4{
                    margin-top: 35px;
                }
            }
        }
    }
}
.service1{
    background-color: $lightbackcolor;
    padding-bottom: 141px;
    & .service1-content{
        @include bound;
        @include defaultLayout(row, 0);
        .service1-text{
            @include defaultLayoutText(40px);
            & h5{
                @include h5;
            }
            & h2{
                width: 440px;
                @include h2('light');
            }
            & .text-big{
                width: 470px;
                @include textBig('light');
            }
            & .coment{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                & .coment-text{
                    & .text-gray{
                        width: 386px;
                        @include textGray('light');
                    }
                    & .text-gray-but{
                        color: $primarycolor;
                        font-size: 16px;
                    }
                }
            }
            .white-button{
                @include whiteButton(138px);
            }
        }
    }
}
.service2{
    background-color: $lightbackcolor;
    padding-bottom: 128px;
    .service2-content{
        @include bound;
        @include defaultLayout(column, 25px);
        & h5{
            @include h5;    
            margin-right: 1200px;
        }
        & h3{
            margin-right: 920px;
            width: 350px;
            @include h3('light');
        }
        & .boxes{
            display: flex;
            & .box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 2px solid #F3D1BF;
                gap: 40px;
                width: 391px;
                height: 400px;
                padding: 0 20px;
                .icon{
                    position: relative;
                    .inside-icon{
                        position: absolute;
                        top: 24px;
                        left: 24px;
                    }
                }
                & h4{
                    @include h4;
                }
                & .text-gray{
                    @include textGray('light');
                }
                & h5{
                    cursor: pointer;
                    margin-right: 0px;
                    @include h5;
                }
            }
            & .box2{
                border-left: none;
                border-right: none;
            }
        }
    }
}
@media (max-width: 425px){
    .futures1{
        padding-top: 90px;
        padding-bottom: 139px;
        .futures1-content{
            flex-direction: column-reverse;
            gap: 30px;
            .svgf{
                width: 329px;
                height: 328px;
            }
            .futures1-text{
                h2{
                    font-size: 49px;
                }
                .text-big{
                    width: 329px;
                }
                .text-gray{
                    width: 329px;
                }
                .text-gray-row{
                    width: 329px;
                }
            }
        }
    }
    .futures2{
        padding-bottom: 112px;
        .futures2-content{
            flex-direction: column;
            gap: 30px;
            .future-text2{
                .text-big{
                    width: 329px;
                }
                .text-gray{
                    width: 329px;
                }
            }
            .boxes{
                flex-wrap: wrap;
                width: 329px;
                .box{
                    padding-left: 20px;
                }
                .box2{
                    border-left: 2px solid #F3D1BF;
                    border-top: none;
                }
            }
        }
    }
    .service1{
        padding-bottom: 128px;
        .service1-content{
            flex-direction: column;
            margin-left: 30px;
            gap: 30px;
            .svgs{
                width: 329px;
                height: 329px;
            }
            .service1-text{
                h2{
                    font-size: 50px;
                    width: 329px;
                }
                .text-big{
                    width: 329px;
                }
                .text-gray{
                    width: 329px;
                }
                .coment{
                    .coment-text{
                        .text-gray{
                            width: 280px;
                        }
                    }
                }
            }
        }
    }
    .service2{
        padding-bottom: 114px;
        .service2-content{
            flex-direction: column;
            gap: 30px;
            h3{
                margin-right: 0;
                margin-left: 17px;
            }
            h5{
                margin-right: 255px;
            }
            .boxes{
                flex-direction: column;
                .box{
                    width: 329px;
                    padding: 0;
                    .icon{
                        padding-left: 20px;
                        .inside-icon{
                            left: 43px;
                        }
                    }
                    h4{
                        padding-left: 20px;
                    }
                    .text-gray{
                        padding-left: 20px;
                    }
                    h5{
                        padding-left: 20px;
                    }
                }
                .box2{
                    border-top: none;
                    border-bottom: none;
                    border-left: 2px solid #F3D1BF;
                    border-right: 2px solid #F3D1BF;
                }
            }
        }
    }
}