.futures1 {
  background-color: rgb(253, 240, 233);
  padding-bottom: 202px;
}
.futures1 .futures1-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.futures1 .futures1-content .futures1-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.futures1 .futures1-content .futures1-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.futures1 .futures1-content .futures1-text h2 {
  width: 343px;
  font-size: 52px;
  font-weight: 500;
  color: rgb(57, 20, 0);
}
.futures1 .futures1-content .futures1-text .text-big {
  width: 470px;
  font-size: 20px;
  color: rgb(57, 20, 0);
}
.futures1 .futures1-content .futures1-text .ye {
  margin-top: 20px;
}
.futures1 .futures1-content .futures1-text .text-gray-row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.futures1 .futures1-content .futures1-text .text-gray-row .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}

.futures2 {
  padding-bottom: 252px;
  background-color: rgb(253, 240, 233);
}
.futures2 .futures2-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.futures2 .futures2-content .future-text2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.futures2 .futures2-content .future-text2 h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.futures2 .futures2-content .future-text2 .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
  width: 370px;
}
.futures2 .futures2-content .future-text2 .rm {
  cursor: pointer;
  font-size: 16px;
}
.futures2 .futures2-content .boxes {
  display: flex;
  align-items: flex-end;
}
.futures2 .futures2-content .boxes .box {
  border: 2px solid #F3D1BF;
}
.futures2 .futures2-content .boxes .box h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
}
.futures2 .futures2-content .boxes .box .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.futures2 .futures2-content .boxes .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: white;
  width: 336px;
  height: 336px;
  padding-left: 30px;
}
.futures2 .futures2-content .boxes .box1 .icon {
  position: relative;
}
.futures2 .futures2-content .boxes .box1 .icon .inside-icon {
  position: absolute;
  top: 22px;
  left: 25px;
}
.futures2 .futures2-content .boxes .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: none;
  gap: 30px;
  width: 336px;
  height: 272px;
  padding-left: 30px;
  background-color: rgb(253, 240, 233);
}
.futures2 .futures2-content .boxes .box2 h4 {
  margin-top: 35px;
}

.service1 {
  background-color: rgb(253, 240, 233);
  padding-bottom: 141px;
}
.service1 .service1-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.service1 .service1-content .service1-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.service1 .service1-content .service1-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.service1 .service1-content .service1-text h2 {
  width: 440px;
  font-size: 52px;
  font-weight: 500;
  color: rgb(57, 20, 0);
}
.service1 .service1-content .service1-text .text-big {
  width: 470px;
  font-size: 20px;
  color: rgb(57, 20, 0);
}
.service1 .service1-content .service1-text .coment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.service1 .service1-content .service1-text .coment .coment-text .text-gray {
  width: 386px;
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.service1 .service1-content .service1-text .coment .coment-text .text-gray-but {
  color: rgb(57, 20, 0);
  font-size: 16px;
}
.service1 .service1-content .service1-text .white-button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 138px;
  height: 48px;
}

.service2 {
  background-color: rgb(253, 240, 233);
  padding-bottom: 128px;
}
.service2 .service2-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.service2 .service2-content h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 1200px;
}
.service2 .service2-content h3 {
  margin-right: 920px;
  width: 350px;
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
}
.service2 .service2-content .boxes {
  display: flex;
}
.service2 .service2-content .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #F3D1BF;
  gap: 40px;
  width: 391px;
  height: 400px;
  padding: 0 20px;
}
.service2 .service2-content .boxes .box .icon {
  position: relative;
}
.service2 .service2-content .boxes .box .icon .inside-icon {
  position: absolute;
  top: 24px;
  left: 24px;
}
.service2 .service2-content .boxes .box h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
}
.service2 .service2-content .boxes .box .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.service2 .service2-content .boxes .box h5 {
  cursor: pointer;
  margin-right: 0px;
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.service2 .service2-content .boxes .box2 {
  border-left: none;
  border-right: none;
}

@media (max-width: 425px) {
  .futures1 {
    padding-top: 90px;
    padding-bottom: 139px;
  }
  .futures1 .futures1-content {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .futures1 .futures1-content .svgf {
    width: 329px;
    height: 328px;
  }
  .futures1 .futures1-content .futures1-text h2 {
    font-size: 49px;
  }
  .futures1 .futures1-content .futures1-text .text-big {
    width: 329px;
  }
  .futures1 .futures1-content .futures1-text .text-gray {
    width: 329px;
  }
  .futures1 .futures1-content .futures1-text .text-gray-row {
    width: 329px;
  }
  .futures2 {
    padding-bottom: 112px;
  }
  .futures2 .futures2-content {
    flex-direction: column;
    gap: 30px;
  }
  .futures2 .futures2-content .future-text2 .text-big {
    width: 329px;
  }
  .futures2 .futures2-content .future-text2 .text-gray {
    width: 329px;
  }
  .futures2 .futures2-content .boxes {
    flex-wrap: wrap;
    width: 329px;
  }
  .futures2 .futures2-content .boxes .box {
    padding-left: 20px;
  }
  .futures2 .futures2-content .boxes .box2 {
    border-left: 2px solid #F3D1BF;
    border-top: none;
  }
  .service1 {
    padding-bottom: 128px;
  }
  .service1 .service1-content {
    flex-direction: column;
    margin-left: 30px;
    gap: 30px;
  }
  .service1 .service1-content .svgs {
    width: 329px;
    height: 329px;
  }
  .service1 .service1-content .service1-text h2 {
    font-size: 50px;
    width: 329px;
  }
  .service1 .service1-content .service1-text .text-big {
    width: 329px;
  }
  .service1 .service1-content .service1-text .text-gray {
    width: 329px;
  }
  .service1 .service1-content .service1-text .coment .coment-text .text-gray {
    width: 280px;
  }
  .service2 {
    padding-bottom: 114px;
  }
  .service2 .service2-content {
    flex-direction: column;
    gap: 30px;
  }
  .service2 .service2-content h3 {
    margin-right: 0;
    margin-left: 17px;
  }
  .service2 .service2-content h5 {
    margin-right: 255px;
  }
  .service2 .service2-content .boxes {
    flex-direction: column;
  }
  .service2 .service2-content .boxes .box {
    width: 329px;
    padding: 0;
  }
  .service2 .service2-content .boxes .box .icon {
    padding-left: 20px;
  }
  .service2 .service2-content .boxes .box .icon .inside-icon {
    left: 43px;
  }
  .service2 .service2-content .boxes .box h4 {
    padding-left: 20px;
  }
  .service2 .service2-content .boxes .box .text-gray {
    padding-left: 20px;
  }
  .service2 .service2-content .boxes .box h5 {
    padding-left: 20px;
  }
  .service2 .service2-content .boxes .box2 {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #F3D1BF;
    border-right: 2px solid #F3D1BF;
  }
}/*# sourceMappingURL=firstLightSec2.css.map */