header {
  background-color: rgb(40, 41, 62);
  padding: 10px 0px;
}
header .header-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
}
header .header-content h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
  color: white;
}
header .header-content nav {
  display: block;
}
header .header-content nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header-content nav ul a {
  color: rgba(255, 255, 255, 0.64);
  text-decoration: none;
}
header .header-content button {
  cursor: pointer;
  color: white;
  background-color: rgb(40, 41, 62);
  font-size: 14px;
  border: 2px solid rgba(255, 255, 255, 0.29);
  border-radius: 5px;
  width: 138px;
  height: 48px;
}

.hero-page {
  padding: 50px 0px;
  background-color: rgb(40, 41, 62);
}
.hero-page .hero-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.hero-page .hero-content .hero-text {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.hero-page .hero-content .hero-text .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-page .hero-content .hero-text .text .btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-page .hero-content .hero-text .text .btns .btn {
  border: none;
  color: white;
  font-size: 14px;
  background-color: rgb(40, 41, 62);
}
.hero-page .hero-content .hero-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.hero-page .hero-content .hero-text h1 {
  font-size: 72px;
  font-weight: 600;
  color: white;
  width: 428px;
}
@media (max-width: 376px) {
  .hero-page .hero-content .hero-text h1 {
    font-size: 52px;
    width: 329px;
  }
}
.hero-page .hero-content .hero-text .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(255, 255, 255, 0.64);
  width: 470px;
}
@media (max-width: 376px) {
  .hero-page .hero-content .hero-text .text-gray {
    width: 329px;
  }
}
.hero-page .hero-content .hero-text .orange-button {
  cursor: pointer;
  color: white;
  background-color: rgb(239, 109, 88);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 154px;
  height: 48px;
}
.hero-page .hero-content .hero-text .btn {
  cursor: pointer;
}
.hero-page .hero-content .hero-text .coment {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero-page .hero-content .hero-text .coment .text-gray-but {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.companies {
  background-color: rgb(253, 240, 233);
  padding: 80px 0px;
}
.companies .cpm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
}
.companies .companies-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
}

.pre-line {
  background-color: rgb(253, 240, 233);
  height: 2px;
}
.pre-line .line {
  width: 1170px;
  margin: 0 auto;
  height: 2px;
  background-color: #F3D1BF;
}

.about {
  background-color: rgb(253, 240, 233);
  padding: 100px 0px;
  padding-top: 101px;
  padding-bottom: 161px;
}
.about .about-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}
.about .about-content .about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .about-content .about-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.about .about-content .about-text h2 {
  font-size: 52px;
  font-weight: 500;
  color: rgb(57, 20, 0);
  width: 357px;
}
.about .about-content .about-text .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
}
.about .about-content .about-text .text-gray {
  width: 470px;
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.about .about-content .about-text .white-button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 138px;
  height: 48px;
}

.our-achivments {
  background-color: rgb(253, 240, 233);
  padding-bottom: 140px;
}
.our-achivments .boxes {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: center;
}
.our-achivments .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 2px solid #F3D1BF;
  width: 365px;
  height: 176px;
  padding-left: 25px;
}
.our-achivments .boxes .box h3 {
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
  font-weight: 500;
}
.our-achivments .boxes .box h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
  font-weight: 400;
}
.our-achivments .boxes .box2 {
  border-left: none;
  border-right: none;
}

.how-we-work {
  background-color: rgb(253, 240, 233);
  padding-bottom: 92px;
}
.how-we-work .how-we-work-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.how-we-work .how-we-work-content .how-we-work-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  gap: 30px;
}
.how-we-work .how-we-work-content .how-we-work-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.how-we-work .how-we-work-content .how-we-work-text h3 {
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
  font-weight: 400;
  width: 383px;
}
.how-we-work .how-we-work-content .how-we-work-text .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
  width: 470px;
}
.how-we-work .how-we-work-content .how-we-work-text .h5a {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
}
.how-we-work .how-we-work-content .how-we-work-text .h5a a {
  text-decoration: none;
  color: black;
}
.how-we-work .how-we-work-content .list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.how-we-work .how-we-work-content .list .l {
  display: flex;
  align-items: center;
  gap: 40px;
}
.how-we-work .how-we-work-content .list .l h1 {
  font-size: 72px;
  font-weight: 600;
  color: white;
  color: rgb(57, 20, 0);
  font-weight: 400;
}
.how-we-work .how-we-work-content .list .l h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
  font-weight: 400;
}

.video-reel {
  background-color: rgb(253, 240, 233);
  padding-top: 127px;
  padding-bottom: 191px;
}
.video-reel .video-reel-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}
.video-reel .video-reel-content .video-reel-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video-reel .video-reel-content .video-reel-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.video-reel .video-reel-content .video-reel-text h3 {
  width: 470px;
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
}
.video-reel .video-reel-content .video-reel-text .text-gray {
  width: 470px;
  margin-top: 30px;
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}

@media (max-width: 425px) {
  header .header-content {
    padding: 10px;
  }
  header .header-content nav {
    display: none;
  }
  .hero-page .hero-content {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .hero-page .hero-content .hero-text {
    width: 329px;
    gap: 50px;
  }
  .hero-page .hero-content .hero-text h1 {
    font-size: 52px;
    width: 329px;
  }
  .hero-page .hero-content .hero-text .text-gray {
    width: 329px;
  }
  .hero-page .hero-content .hero-text .text {
    gap: 20px;
  }
  .hero-page .hero-content .hero-text .coment .text-gray {
    width: 263px;
  }
  .hero-page .hero-content .hero-svg {
    width: 329px;
    height: 334px;
  }
  .companies .companies-content {
    padding: 0;
  }
  .companies .companies-content .cpm {
    gap: 20px;
    width: 300px;
  }
  .pre-line .line {
    width: 320px;
  }
  .about {
    padding-bottom: 120px;
  }
  .about .about-content {
    flex-direction: column;
    gap: 20px;
  }
  .about .about-content svg {
    width: 329px;
    height: 340px;
  }
  .about .about-content .about-text {
    padding-left: 20px;
  }
  .about .about-content .about-text .text-big {
    width: 300px;
  }
  .about .about-content .about-text .text-gray {
    width: 329px;
  }
  .our-achivments {
    padding-bottom: 98px;
  }
  .our-achivments .boxes {
    flex-direction: column;
    padding: 0;
  }
  .our-achivments .boxes .box {
    width: 329px;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 2px solid #F3D1BF;
    border-right: 2px solid #F3D1BF;
  }
  .our-achivments .boxes .box2 {
    border-bottom: none;
    border-top: none;
  }
  .how-we-work .how-we-work-content {
    flex-direction: column;
    align-items: normal;
    gap: 88px;
    padding: 0;
    margin-left: 30px;
  }
  .how-we-work .how-we-work-content .how-we-work-text h3 {
    width: 329px;
  }
  .how-we-work .how-we-work-content .how-we-work-text .text-gray {
    width: 329px;
  }
  .how-we-work .how-we-work-content .how-we-work-text .h5a {
    font-size: 16px;
  }
  .how-we-work .how-we-work-content .list {
    width: 300px;
  }
  .video-reel {
    padding-bottom: 73px;
  }
  .video-reel .video-reel-content {
    flex-direction: column;
    gap: 30px;
    margin-left: 10px;
    padding: 0;
  }
  .video-reel .video-reel-content svg {
    width: 329px;
    height: 212px;
  }
  .video-reel .video-reel-content .video-reel-text h3 {
    width: 329px;
  }
  .video-reel .video-reel-content .video-reel-text .text-gray {
    width: 329px;
  }
}/*# sourceMappingURL=firstLightSec1.css.map */