.our-awards {
  background-color: rgb(253, 240, 233);
  padding-bottom: 123px;
}
.our-awards .our-awards-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0;
  gap: 62px;
}
.our-awards .our-awards-content h3 {
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
}
.our-awards .our-awards-content .awards {
  display: flex;
  flex-direction: column;
}
.our-awards .our-awards-content .awards .award {
  border-top: 2px solid #F3D1BF;
  border-bottom: 2px solid #F3D1BF;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
}
.our-awards .our-awards-content .awards .award .img {
  display: flex;
  align-items: center;
  gap: 24px;
}
.our-awards .our-awards-content .awards .award .img img {
  width: 120px;
  height: 80px;
}
.our-awards .our-awards-content .awards .award .img .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
  font-size: 16px;
}
.our-awards .our-awards-content .awards .award .date .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.our-awards .our-awards-content .awards .award .company {
  display: flex;
  align-items: center;
  gap: 24px;
}
.our-awards .our-awards-content .awards .award2 {
  border: none;
}
.our-awards .our-awards-content .awards .award2 .date {
  margin-left: 35px;
}
.our-awards .our-awards-content .awards .award3 .date {
  margin-right: 60px;
}
.our-awards .our-awards-content .text {
  display: flex;
  align-items: center;
  gap: 6.6px;
}
.our-awards .our-awards-content .text .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
.our-awards .our-awards-content .text .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
  cursor: pointer;
  font-size: 16px;
}

.our-blog {
  background-color: rgb(253, 240, 233);
  padding-bottom: 79px;
}
.our-blog .our-blog-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0;
  align-items: normal;
  gap: 54px;
}
.our-blog .our-blog-content .our-blog-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.our-blog .our-blog-content .our-blog-text .left-text {
  width: 263px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our-blog .our-blog-content .our-blog-text .left-text h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.our-blog .our-blog-content .our-blog-text .left-text h2 {
  font-size: 52px;
  font-weight: 500;
  color: rgb(57, 20, 0);
}
.our-blog .our-blog-content .our-blog-text button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 48px;
}
.our-blog .our-blog-content .boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.our-blog .our-blog-content .boxes .box {
  display: flex;
  flex-direction: column;
}
.our-blog .our-blog-content .boxes .box img {
  width: 370px;
  height: 224px;
}
.our-blog .our-blog-content .boxes .box .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
  margin-top: 26px;
}
.our-blog .our-blog-content .boxes .box h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
  width: 338px;
  margin-top: 20px;
  line-height: 1.2;
}
.our-blog .our-blog-content .boxes .box .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
  margin-top: 15px;
}

.newstler {
  padding-top: 60px;
  padding-bottom: 110px;
  background-color: rgb(253, 240, 233);
}
.newstler .newstler-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
}
.newstler .newstler-content .text {
  display: flex;
  justify-content: space-between;
}
.newstler .newstler-content .text h3 {
  font-weight: 300;
  font-size: 40px;
  color: rgb(57, 20, 0);
}
.newstler .newstler-content .text .input {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.newstler .newstler-content .text .input input {
  width: 370px;
  height: 36px;
  border: 1px solid #F3D1BF;
  border-radius: 5px;
  padding-left: 16px;
}
.newstler .newstler-content .text .input button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 48px;
}

.map {
  background-color: #F3D1BF;
}
.map .map-img {
  background-color: #F3D1BF;
  padding: 30px 0px;
}
.map .map-img .map-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
}
.map .map-img .map-content .form {
  display: flex;
  justify-content: center;
  width: 470px;
  height: 464px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.map .map-img .map-content .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
}
.map .map-img .map-content .form form h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
  margin-top: 50px;
}
.map .map-img .map-content .form form input {
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 13px;
  outline: none;
  border: 2px solid #F3D1BF;
  border-radius: 5px;
  font-size: 16px;
  height: 50px;
}
.map .map-img .map-content .form form select {
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 13px;
  outline: none;
  border: 2px solid #F3D1BF;
  border-radius: 5px;
  font-size: 16px;
  height: 50px;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
}
.map .map-img .map-content .form form textarea {
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 13px;
  outline: none;
  border: 2px solid #F3D1BF;
  border-radius: 5px;
  font-size: 16px;
  max-width: 100%;
  max-height: 150px;
  height: 120px;
}
.map .map-img .map-content .form form button {
  cursor: pointer;
  color: white;
  background-color: rgb(239, 109, 88);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 154px;
  height: 48px;
  margin-left: 100%;
  transform: translateX(-100%);
  margin-bottom: 50px;
}

.small-contact {
  padding-top: 80px;
  padding-bottom: 130px;
  background-color: rgb(253, 240, 233);
}
.small-contact .small-contact-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
}
.small-contact .small-contact-content .boxes {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.small-contact .small-contact-content .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  width: 391px;
  height: 192px;
  border: 2px solid #F3D1BF;
}
.small-contact .small-contact-content .boxes .box .icon-box {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 24px;
}
.small-contact .small-contact-content .boxes .box .icon-box .icon {
  position: relative;
}
.small-contact .small-contact-content .boxes .box .icon-box .icon .inside-icon {
  position: absolute;
  left: 21px;
  top: 21px;
}
.small-contact .small-contact-content .boxes .box .icon-box h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
.small-contact .small-contact-content .boxes .box .text-big {
  font-size: 20px;
  color: rgb(57, 20, 0);
  width: 80%;
  margin: 0 auto;
}
.small-contact .small-contact-content .boxes .box2 {
  border-left: none;
  border-right: none;
}
.small-contact .small-contact-content .boxes .box2 .icon .inside-icon {
  position: absolute;
  left: 20px;
  top: 23px;
}
.small-contact .small-contact-content .boxes .box3 .inside-icon {
  position: absolute;
  left: 20.5px;
  top: 20px;
}

.help {
  padding-bottom: 100px;
  background-color: rgb(253, 240, 233);
}
.help .help-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 1170px;
  margin: 0 auto;
  background-color: rgb(239, 109, 88);
  border-radius: 5px;
  padding: 94px 0px 30px 0;
}
.help .help-content .help-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.help .help-content .help-text h2 {
  font-size: 52px;
  font-weight: 500;
  color: white;
  width: 340px;
}
.help .help-content .help-text .text-gray {
  width: 470px;
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(255, 255, 255, 0.64);
}
.help .help-content .help-text button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 154px;
  height: 48px;
}

footer {
  background-color: rgb(253, 240, 233);
  padding-bottom: 50px;
}
footer .footer-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 145px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .footer-content .footer-info {
  display: flex;
  justify-content: space-between;
}
footer .footer-content .footer-info ul {
  list-style: none;
}
footer .footer-content .footer-info ul li {
  margin: 15px 0px;
}
footer .footer-content .footer-info ul a {
  font-size: 20px;
  color: rgb(57, 20, 0);
  font-size: 16px;
  text-decoration: none;
}
footer .footer-content .footer-info h4 {
  font-weight: 350;
  font-size: 24px;
  color: rgb(57, 20, 0);
}
footer .footer-content .footer-info h5 {
  letter-spacing: 2px;
  font-weight: 320;
  color: rgb(239, 109, 88);
  font-size: 16px;
  text-transform: uppercase;
}
footer .footer-content .footer-line {
  height: 2px;
  background-color: #F3D1BF;
  width: 100%;
}
footer .footer-content .copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-content .copyright .text-gray {
  line-height: 2;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
  color: rgba(57, 20, 0, 0.64);
}
footer .footer-content .copyright .copyright-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
footer .footer-content .copyright .copyright-info a {
  text-decoration: none;
  color: rgb(57, 20, 0);
  font-size: 16px;
}

@media (max-width: 425px) {
  .our-awards .our-awards-content .awards {
    flex-direction: column;
  }
  .our-awards .our-awards-content .awards .award {
    width: 329px;
    gap: 35px;
  }
  .our-awards .our-awards-content .awards .award .img {
    flex-direction: column;
  }
  .our-awards .our-awards-content .awards .award .company {
    flex-direction: column;
    gap: 0;
  }
  .our-awards .our-awards-content .awards .award .date {
    margin: 0;
  }
  .our-awards .our-awards-content .text .text-gray {
    width: 190px;
  }
  .our-blog .our-blog-content {
    padding: 0;
  }
  .our-blog .our-blog-content .our-blog-text {
    justify-content: space-around;
  }
  .our-blog .our-blog-content .our-blog-text h2 {
    font-size: 45px;
  }
  .our-blog .our-blog-content .our-blog-text .left-text {
    width: 200px;
  }
  .our-blog .our-blog-content .our-blog-text button {
    width: 120px;
  }
  .our-blog .our-blog-content .boxes {
    flex-direction: column;
    margin: 0 20px;
  }
  .our-blog .our-blog-content .boxes .box {
    width: 329px;
  }
  .our-blog .our-blog-content .boxes .box img {
    width: 329px;
  }
  .newstler .newstler-content .text {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .newstler .newstler-content .text .input {
    flex-direction: column;
    gap: 10px;
  }
  .newstler .newstler-content .text .input input {
    width: 329px;
  }
  .newstler .newstler-content .text .input button {
    width: 329px;
  }
  .map .map-img .map-content {
    padding: 0px;
    margin: 0 20px;
  }
  .map .map-img .map-content .form {
    width: 329px;
    padding: 0;
  }
  .small-contact .small-contact-content {
    padding: 0;
  }
  .small-contact .small-contact-content .boxes {
    flex-direction: column;
    width: auto;
  }
  .small-contact .small-contact-content .boxes .box {
    width: 329px;
  }
  .small-contact .small-contact-content .boxes .box2 {
    border-left: 2px solid #F3D1BF;
    border-right: 2px solid #F3D1BF;
    border-top: none;
    border-bottom: none;
  }
  .help .help-content {
    width: 329px;
    padding: 40px 0;
    flex-direction: column-reverse;
  }
  .help .help-content .help-text h2 {
    font-size: 40px;
    width: 285px;
  }
  .help .help-content .help-text .text-gray {
    width: 273px;
  }
  .help .help-content svg {
    width: 273px;
    height: 264px;
  }
  footer .footer-content {
    flex-direction: column;
    padding: 0 28px;
  }
  footer .footer-content .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 329px;
  }
  footer .footer-content .footer-info ul {
    text-align: center;
  }
  footer .footer-content .copyright {
    flex-direction: column;
    gap: 43px;
  }
  footer .footer-content .copyright .text-gray {
    text-align: center;
    width: 194px;
  }
  footer .footer-content .copyright .copyright-info {
    gap: 79px;
  }
  footer .footer-content .copyright .copyright-info a {
    width: 105px;
  }
}/*# sourceMappingURL=secondLightsec2.css.map */