@import "./variables";
@import "./functions";
@mixin bound{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 145px;
}
@mixin defaultLayout($direction, $gap){
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
}
@mixin defaultLayoutText($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
@mixin h1{
    font-size: fontsize(h1);
    font-weight: 600;
    color: white;
}
@mixin h2($type){
    font-size: fontsize(h2);
    font-weight: 500;
    @if $type == 'light'{
        color: $primarycolor;
    }
    @else if $type == 'dark'{
        color: white;
    }
}
@mixin h3($type){
    font-weight: 300;
    font-size: fontsize(h3);
    @if $type == 'light'{
        color: $primarycolor;
    }
    @else if $type == 'dark'{
        color: white;
    }
}
@mixin h4{
    font-weight: 350;
    font-size: fontsize(h4);
    color: $primarycolor;
}
@mixin h5{
    letter-spacing: 2px;
    font-weight: 320;
    color: $acentcolor;
    font-size: fontsize(h5);
    text-transform: uppercase;
}
@mixin textBig($type){
    font-size: fontsize(text-big);
    
    @if $type == 'light'{
        color: $primarycolor;
    }
    @else if $type == 'dark'{
        color: white;
    }
}
@mixin textSmall($type){
    font-size: fontsize(text-small);
    @if $type == 'light'{
        color: $textGray;
    }
    @else if $type == 'dark'{
        color: white;
    }
}
@mixin textGray ($type){
    line-height: 2;
    font-size: fontsize(text-gray);
    color: $textGray;
    @if $type == 'light'{
        color: $textGray;
    }
    @else if $type == 'dark'{
        color: $textGrayButBlack;
    }
}
@mixin orangeButton{
    cursor: pointer;
    color: white;
    background-color: $acentcolor;
    font-size: fontsize(text-small);
    border: none;
    border-radius: 10px;
    width: 154px;
    height: 48px;
}
@mixin whiteButton($width){
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: fontsize(text-small);
    border: none;
    border-radius: 10px;
    width: $width;
    height: 48px;
}
@mixin transparentButton($width){
    cursor: pointer;
    color: white;
    background-color: $darkbackcolor;
    font-size: fontsize(text-small);
    border: 2px solid $buttonBorder;
    border-radius: 5px;
    width: $width;
    height: 48px;
}