$darkbackcolor: rgba(40, 41, 62, 100%);
$mediumbackcolor: rgba(249, 229, 218, 100%);
$lightbackcolor: rgba(253, 240, 233, 100%);
$primarycolor: rgba(57, 20, 0, 100%);
$textGrayButBlack: rgba(255, 255, 255, 64%);
$acentcolor: rgba(239, 109, 88, 100%);
$textGray: rgba(57, 20, 0, 64%);
$buttonBorder: rgba(255, 255, 255, 29%);
$darkborder: #3A3C56;
$fontSizes: (   
    "h1": 72px,
    "h2": 52px,
    "h3": 40px,
    "h4": 24px,
    "h5": 16px,
    "label": 12px,
    "text-big": 20px,
    "text-gray": 16px,
    "text-small": 14px
);