@import './firstLIghSection/firstLightSec1.scss';
@import './firstLIghSection/firstLightSec2.scss';
@import './blackSection/blackSec';
@import './secondLightSection/secondLightSec1.scss';
@import './secondLightSection/secondLightSec2.scss';
@import './mixins';
@import './variables';

@font-face {
    font-family: epilouge;
    src: url(../font/Epilogue-VariableFont_wght.ttf);
}
*{
    font-family: epilouge;
    padding: 0;
    margin: 0;
}

