@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
header{
 background-image: url(photo/image-map-bkrd2a.jpg);
 background-repeat: no-repeat;
 position: relative;
 margin: 0px 0px;
 width: 100%;
 height: 400px;
}
body{
 margin: 0px;
}
.box{
 position: absolute;
 background: #27252b;
 width: 100%;
 height: 400px;
 opacity: 0.70;
 top: 0;
 bottom: 80px;
}
header div{
 font-family: 'Roboto', sans-serif;
 position: relative;
 text-align: center;
 top: 125px;
 color: white;
}
header a{
 right: 10px;
 position: absolute;
 opacity: 1;
 top: 10px;
 border: 2px solid #FFFFFF;
 border-radius: 5px;
 text-decoration: none;
 color: #FFFFFF;
 padding: 10px 20px;  
}
button{
 color: white;
 padding: 9px 20px;
 border-radius: 5px;
 border: 1px solid  #04BEF3;
 background-color: #04BEF3;
 opacity: 1;
}
h1{
 font-size: 30px;
}
.words1{ 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 65px 0;
}
.words2{
 font-family: 'Roboto', sans-serif;
 text-align: center;
 background-image: url(photo/symfonie-theme-1920x360.jpg);   
 width: 100%;
 height: 330px; 
 position: relative;  
}
.box2{
 position: absolute;
 background: #27252b;
 width: 100%;
 height: 330px;
 opacity: 0.50;
}
.divi{
 color: white;
 position: relative;
 top: 120px;
}
.divi h1{
  font-size: 25px;
}
body{
  background-color: white;
}
.lists{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  margin: 30px 0;
}
.lists1{
  list-style: none;
}
.lists2{
  list-style: none;
}
.lists3{
  list-style: none;
}
.back{
  position: relative;
  background-color: #24202e;
  height: 400px;
}
.words3{
  position: absolute;
  right:  50%;
  transform: translateX(50%);
  top: 70px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}