html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: nuntio;
    src: url(fonts/Nunito-Regular.ttf);
}
*{
    font-family: nuntio;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    /* position: sticky;
    z-index: 5;
    top: 0; */
    padding: 12px 0px 12px 0px;
    background-color: #fb1a29;
    color: white;
}
.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header nav ul li a{
    color: white;
}
.buttons{
    display: flex;
    gap: 10px;
}
.buttons button{
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}
.sing-up{
    border: white 2px solid; 
    background-color: white;
    color: #c1121f;
}
.log-in{
    border: white 2px solid;
    background-color: white;
}

/* SECTION#1 */

.section1{
    margin: 30px 0px;
}
.section1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.section1-content img{
    margin-bottom: 20px;
}
.section1-content h1{
    color: #fb1a29;
}
.section1-content p{
    text-align: center;
    font-size: 14px;
    width: 610px;
}

/* LINE */

.line{
    margin: 0px auto;
    background-color: #f0f1f3;
    width: 100%;
    height: 20px;
}

/* SECTION#2 */

.section2{
    margin: 60px 0px;
}
.section2-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 15px;
}
.box button{
    margin-top: 10px;
    cursor: pointer;
    background-color: #fb1a29;
    border: #fb1a29 2px solid;
    border-radius: 30px;
    color: white;
    padding: 10px 60px;
    font-size: 20px;
}
.box span{
    font-size: 13px;
    color: #c1121f;
}
.box p{
    text-align: center;
    font-size: 12px;
    width: 250px;
}

/* FOOTER */

footer{
    background-color: #fb1a29;
    padding: 30px 0px;

}
footer .footer-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.footer-content ul{
    list-style: none;
}
.footer-content ul li a{
    color: white;
    text-decoration: none;
}