@media (max-width: 375px){
    .testimonials{
        .testimonials-content{
            .boxes{
                flex-direction: column;
                .column{
                    .box{
                        width: 340px;
                        .stars{
                            width: 170px;
                        }
                        .text-gray{
                            width: 329px;
                            padding-left: 9px;
                            margin: 0;
                        }
                        .person-icon{
                            width: 329px;
                            padding-left: 9px;
                            margin: 0;
                        }
                    }
                    .box3{
                        border-top: none;
                        border-left: 2px solid #F3D1BF;
                    }
                    .box4{
                        border-left: 2px solid #F3D1BF;
                    }
                }
            }
        }
    }
}