@import '../mixins';
@import '../variables';
.portfolio{
    background-color: $darkbackcolor;
    padding: 100px 0px;
    & .portfolio-content{
        @include bound;
        @include defaultLayout(column, 30px);
        & h5{
            @include h5;
        }
        & h2{
            @include h2('dark');    
        }
        .subject{
            display: none;
        }
        & nav{
            margin-top: 20px;
            & ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 40px;
                list-style: none;
                & li{
                    & a{
                        text-decoration: none;
                        color: $textGrayButBlack;
                    }
                }
            }
        }
        & .boxes{
            margin-top: 79px;
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .img{
                background-position: center;
                background-size: 100%;
                position: relative;
                border-radius: 10px;
                .img-text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 23px;
                    position: absolute;
                    left: 48px;
                    bottom: 46px;
                    h3{
                        @include h3("dark");
                    }
                    button{
                        @include whiteButton(84px);
                        height: 38px;
                        border-radius: 30px;
                        
                    }
                }
            }
            & .row1{
                display: flex;
                gap: 30px;
                .img1{
                    background-image: url(../img/1.jpg);
                    width: 470px;
                    height: 416px;
                }
                .img2{
                    background-image: url(../img/3.png);
                    width: 670px;
                    height: 416px;
                }
            }
            & .row2{
                display: flex;
                gap: 30px;
                .img3{
                    & .img-text{
                        button{
                            @include whiteButton(116px);
                            border-radius: 30px;
                        }
                    }
                    background-image: url(../img/333.jpg);
                    width: 670px;
                    height: 416px;
                    
                }
                .img4{
                    background-image: url(../img/2.jpg);
                    width: 470px;
                    height: 416px;
                }
            }
        }
        & button{
            @include transparentButton(170px);
        }
    }
}
.get-started{
    padding: 30px 0px;
    background-color: $darkbackcolor;
    .get-started-content{
        position: relative;
        width: 1170px;
        height: 336px;
        background-color: $lightbackcolor;
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0 auto;
        .star{
            position: absolute;
            top: -75px;
            left: 85.5px;
        }
        .get-started-text{
            @include defaultLayoutText(20px);
            margin-left: 100px;
            h5{
                @include h5;
            }
            h4{
                width: 221px;
                @include h4;
            }
            button{
                @include orangeButton;
            }
        }
        .middle{
            height: 275px;
        }
        .svg{
            position: absolute;
            right: 40px;
            bottom: 0px;
        }
    }
}
.events{
    background-color: $darkbackcolor;
    padding-top: 100px;
    padding-bottom: 70px;
    .events-content{
        @include bound;
        @include defaultLayout(column, 20px);
        & h5{
            @include h5;
        }
        & h2{
            @include h2('dark');
            width: 388px;
            margin-top: 31px;
            text-align: center;
        }
        & .boxes{
            display: flex;
            gap: 20px;
            .box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 42px;
                width: 370px;
                height: 448px;
                margin-top: 54px;
                margin-bottom: 64px;
                border: 2px solid #3A3C56;
                .date{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    h1{
                        @include h1;
                        font-weight: 400;
                    }
                    .year{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        h4{
                            @include h4;
                            color: white;
                        }
                    }
                    .all-date{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                    .am-pm{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .text-gray{
                            @include textGray('dark');
                            line-height: 1.8;
                            color: white;
                        }
                    }
                }
                .line{
                    height: 2px;
                    width: 80%;
                    margin: 0 auto;
                    background-color: #3A3C56;
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    gap: 21px;
                    h4{
                        @include h4;
                        color: white;
                    }
                    .text-gray{
                        @include textGray('dark');
                        width: 290px;
                    }
                    .text-big{
                        cursor: pointer;
                        color: white;
                        font-size: 16px;
                        margin-top: 26px;
                    }
                }
            }
        }
        .transperant-btn{
            @include transparentButton(170px);
            cursor: pointer;
        }
    }
}

.our-team{
    background-color: $darkbackcolor;
    padding-top: 70px;
    padding-bottom: 100px;
    & .our-team-content{
        @include bound;
        @include defaultLayout(column, 20px);
        .our-team-text{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 95%;
            .left-text{
                display: flex;
                flex-direction: column;
                gap: 31px;
                h5{
                    @include h5;
                }
                h2{
                    width: 452px;
                    @include h2('dark');
                }
            }
            .next-prev{
                display: flex;
                align-items: center;
                gap: 16px;
                button{
                    background-color: $darkbackcolor;
                    border: 2px solid $buttonBorder;
                    cursor: pointer;
                    color: white;
                    width: 48px;
                    height: 48px;
                    border-radius: 50px;
                    &:hover{
                        background-color: $buttonBorder;
                    }
                }
            }
        }
        .slider-container{
            position: relative;
            overflow: hidden;
            width: 1200px;
            .slider{
                display: flex;
                gap: 30px;
                width: calc(270px * 8 + 30px * 7);
                transition: transform 0.5s ease;
                .slide{
                    display: flex;
                    flex-direction: column;
                    width: 270px;
                    gap: 26px;
                    .slide-text{
                        h4{
                            @include h4;
                            color: white;
                        }
                        .text-gray{
                            @include textGray('dark');
                        }
                    }
                    .pr-icon{
                        text-align: center;
                        border: 2px solid $darkborder;
                        height: 272px;
                        position: relative;
                        svg{
                            position: absolute;
                            top: 24px;
                            bottom: 0;
                            right: 35px;
                        }
                    }
                    .pr-icon2 svg{
                        position: absolute;
                        top: 39px;
                        right: 4px;
                    }
                }
            }
        }
        .slider-bullets {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
            .bullet {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.4);
                cursor: pointer;
                transition: background-color 0.3s ease;
                &.active {
                    background-color: #ff7f50; /* Active bullet color */
                }
            }
        }
    }
}

.founder-words{
    background-color: $darkbackcolor;
    padding: 100px 0px;
    & .founder-words-content{
        @include bound;
        @include defaultLayout(row, 0);
        & .founder-words-text{
            @include defaultLayoutText(5px);
            & h5{
                @include h5;
            }
            & h3{
                margin-top: 44px;
                margin-bottom: 40px;
                line-height: 1.3;
                font-weight: 300;
                width: 470px;
                @include h3('dark');
            }
            & .text-big{
                @include textBig('dark');
            }
            & .text-small{
                @include textSmall('dark');
            }
        }
    }
}
@media (max-width: 425px){
    .portfolio{
        .portfolio-content{
            nav{
                display: none;
            }
            .subject{
                color: $textGray;
                border: 2px solid #F3D1BF;
                display: block;
                outline: none;
                padding-left: 16px;
                padding-top: 9px;
                padding-bottom: 13px;
                border-radius: 5px;
                font-size: 16px;
                height: 50px;
                font-size: 16px;
                width: 329px;
            }
            .boxes{
                margin-top: 0;
                .img{
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .row1{
                    flex-direction: column;
                    .img{
                        width: 329px;
                    }
                }
                .row2{
                    flex-direction: column;
                    .img{
                        width: 329px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .get-started{
        padding: 0;
        .get-started-content{
            flex-direction: column;
            padding-top: 81px;
            gap: 10px;
            height: 867px;
            width: auto;
            .star{
                left: 10px;
            }
            .middle{
                width: 329px;
                svg{
                    width: 329px;
                }
            }
            .get-started-text{
                margin-left: 55px;
            }
            .svg{
                right: 61px;
            }
        }
    }
    .events{
        .events-content{
            flex-direction: column;
            h2{
                width: 329px;
            }
            .boxes{
                flex-direction: column;
                .box{
                    width: 329px;
                    margin: 0;
                }
                .box1{
                    margin-top: 37px;
                }
                .box2{
                    margin: 32px 0px;
                }
                .box3{
                    margin-bottom: 48px;
                }
            }
        }
    }
    .our-team{
        .our-team-content{
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0px;
            .our-team-text{
                width: 270px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                .left-text{
                    h2{
                        width: 270px;
                    }
                }
            }
            .slider-container{
                width: 270px;
                .slider{
                    width: 270px;
                    .slide{
                        min-width: 100%;
                    }
                }
            }
        }
    }
    .founder-words{
        .founder-words-content{
            flex-direction: column;
            svg{
                width: 329px;
            }
            .founder-words-text{
                h3{
                    width: 329px;
                }
            }
        }
    }
}